h1{
    text-align: center ; color: blue;;
}
img{
    width: 100%;
}
ol{
    color: rgb(0, 0, 174);
    padding: 3px;
    text-align: center;
}
ul{
    color: rgb(0, 0, 174);
    padding: 3px;
    text-align: center;
}
p{
   color: rgb(0, 0, 174);
    padding: 3px;
    text-align: center;  
}
div{
    display: flex; 
    justify-content: center;
}